# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/

**/.DS_Store

# Jupter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Others
cluster_analysis/tests/
diversity_analysis/tests/
process_SMILES/tests/
SMILESto3DCoord/tests/
